<section [id]="aboutData.id" class="mt-5 py-5 bg-primary text-secondary">
  <h2
    class="text-3xl font-bold uppercase text-center"
    style="text-shadow: 2px 2px 2px black"
  >
    {{ aboutData.title }}
  </h2>
  <div
    style="box-shadow: 10px 10px black"
    class="w-full h-full mt-5 px-5 object-cover bg-black rounded-md bg-opacity-50 py-5"
  >
    <div
      class="flex justify-between items-center h-full text-secondary max-sm:flex-col gap-4"
    >
      <div class="w-2/5 flex max-sm:w-full justify-center py-5">
        <img
          style="box-shadow: 10px 10px black"
          class="rounded-full bg-secondary border-primary border-8 h-72 w-72 object-cover"
          [src]="aboutData.imageUrl"
          alt=""
        />
      </div>
      <div class="w-3/5 max-sm:w-full">
        <p class="my-2 font-bold pl-8 uppercase">
          {{ aboutData.description }}
        </p>
      </div>
    </div>
  </div>
</section>
