<section
  [id]="heroData.id"
  class="min-h-screen h-auto bg-primary text-secondary px-8"
>
  <img
    *ngIf="!heroData?.videoUrl"
    class="flex flex-col justify-center items-center max-h-[70vh] h-2/4 xl:h-3/4 bg-secondary w-full object-cover object-center"
    [src]="heroData.imageUrl"
  />
  <iframe
    *ngIf="heroData?.videoUrl"
    [src]="safeURL"
    frameborder="0"
    class="flex flex-col rounded-lg justify-center items-center h-[70vh] bg-secondary w-full object-cover object-center"
    allow="autoplay; encrypted-media;"
    allowfullscreen
  ></iframe>
  <div class="flex flex-col items-center h-2/4 xl:h-214 py-4">
    <h2
      class="text-3xl font-bold uppercase text-center"
      style="text-shadow: 2px 2px 2px black"
    >
      {{ heroData.title }}
    </h2>
    <p class="text-xl text-center">{{ heroData.description }}</p>
    <div
      class="py-4 flex justify-between items-center text-5xl font-bold w-full mt-10"
    >
      <p>Project Done</p>
      <p>{{ heroData.projectCount }}</p>
    </div>
  </div>
</section>
