<section [id]="workData.id" class="min-h-screen p-5 bg-secondary">
  <h2
    class="text-3xl font-bold uppercase text-center"
    style="text-shadow: 2px 2px 2px #c3c3c3"
  >
    {{ workData.title }}
  </h2>

  <ul
    class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3 md:grid-cols-4 text-center py-4 justify-center"
  >
    <li
      *ngFor="let filter of workData?.filters"
      (click)="onTagClick(filter.tag)"
      class="font-bold uppercase hover:bg-primary hover:text-secondary text-primary border-2 border-primary px-4 py-2 rounded-full cursor-pointer {{
        selectedTag == filter.tag ? 'bg-primary text-secondary' : ''
      }}"
    >
      {{ filter.title }}
    </li>
  </ul>

  <div
    class="fixed left-0 top-0 z-40 w-full h-full overflow-auto"
    [style]="isModalOpen ? 'display: block' : 'display: none'"
  >
    <div class="bg-primary w-full h-full">
      <span class="text-gray-200 float-left text-3xl font-bold p-4 w-[80vw]">{{
        previewItem?.title
      }}</span>
      <span
        class="text-gray-200 float-right text-3xl font-bold p-4 hover:text-gray-400 hover:cursor-pointer"
        (click)="onModalClose()"
        >&times;</span
      >
      <iframe
        *ngIf="previewItem?.videoUrl"
        [src]="
          this._sanitizer.bypassSecurityTrustResourceUrl(previewItem?.videoUrl)
        "
        id="ytplayer"
        frameborder="0"
        class="w-full object-cover h-4/5 p-5"
        allow="autoplay; encrypted-media;"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div
    class="flex flex-wrap items-center flex-auto justify-center w-full sm:py-8 gap-6"
  >
    <div
      class="flex flex-shrink-0 flex-col relative sm:w-auto"
      *ngFor="let item of completeItems; let i = index"
      (click)="onItemClick(i)"
    >
      <img
        [src]="item.imageUrl"
        [alt]="item.title"
        class="object-cover object-center rounded-xl drop-shadow-lg shadow-lg hover:scale-90 hover:border-4 hover:border-primary hover:transition-transform w-80 h-56 max-w-md ease-in-out duration-500 border-primary border-4 p-1"
      />
    </div>
  </div>
</section>
