<app-nav-bar [navBarData]="portfolioData?.navbar"></app-nav-bar>

<main>
  <app-hero
    *ngIf="portfolioData?.hero"
    [heroData]="portfolioData?.hero"
  ></app-hero>
  <app-about
    *ngIf="portfolioData?.about"
    [aboutData]="portfolioData?.about"
  ></app-about>
  <app-service
    *ngIf="portfolioData?.services"
    [serviceData]="portfolioData?.services"
  ></app-service>
  <app-skills
    *ngIf="portfolioData?.skills"
    [skillsData]="portfolioData?.skills"
  ></app-skills>
</main>

<app-contact
  *ngIf="portfolioData?.contact"
  [contactData]="portfolioData?.contact"
></app-contact>
